In [238]:
--1

empty_dict = {}
empty_dict

{}

In [239]:
--2

person = {"name": "Alice", "age": 25, "city": "Seoul"}
print(person,type(person))

{'name': 'Alice', 'age': 25, 'city': 'Seoul'} <class 'dict'>

In [240]:
--3

person['name']
person.get('name', 'key 없음')

'Alice'

In [241]:
--4

person.get('age')

25

In [242]:
--5

person.update(job= "Engineer")
# person setdefault("job", "Engineer")
person

{'name': 'Alice', 'age': 25, 'city': 'Seoul', 'job': 'Engineer'}

In [243]:
--6

person.update(city= "Busan")
# person['city']='busan'
person

{'name': 'Alice', 'age': 25, 'city': 'Busan', 'job': 'Engineer'}

In [244]:
--7

#del person['age']
person.pop('age')
person

{'name': 'Alice', 'city': 'Busan', 'job': 'Engineer'}

In [245]:
--8

#for key in person:
    #print(key)
person.keys()

dict_keys(['name', 'city', 'job'])

In [246]:
--9

person.values()

dict_values(['Alice', 'Busan', 'Engineer'])

In [247]:
--10

person.items()

dict_items([('name', 'Alice'), ('city', 'Busan'), ('job', 'Engineer')])

In [248]:
--11

'email' in person

False

In [249]:
--12

person.pop('job')
person

{'name': 'Alice', 'city': 'Busan'}

In [250]:
--13

person.clear()
person

{}

In [251]:
--14

student = {"name": "Bob",
 "grades": {"math": 85, "science": 90, "history": 80}}
student

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80}}

In [252]:
--15

print(student["grades"]["science"])

90

In [253]:
--16

student["grades"]["english"] = 95
print(student)

{'name': 'Bob', 'grades': {'math': 85, 'science': 90, 'history': 80, 'english': 95}}

In [254]:
--17

student["grades"]['math'] = 88
print(student)

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'history': 80, 'english': 95}}

In [255]:
--18

del student["grades"]['history']
student

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}}

In [256]:
student

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}}

In [257]:
student["grades"]["math"]+ student["grades"]["science"]+ student["grades"]["english"]

273

In [258]:
--19

#student.setdefault("total", student["grades"]["math"]
student['total'] = student["grades"]["math"]+ student["grades"]["science"]+ student["grades"]["english"]

print(student)

{'name': 'Bob', 'grades': {'math': 88, 'science': 90, 'english': 95}, 'total': 273}

In [259]:
--20

student['grades'].update(english=100, history=80)
student

{'name': 'Bob',
 'grades': {'math': 88, 'science': 90, 'english': 100, 'history': 80},
 'total': 273}

In [264]:
--21

courses = dict(programming= dict(python=50, java=30, Cpp=20),
              design=dict(Photoshop=25, Illustrator=15))
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 20},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

In [271]:
--22

courses['programming']['python']

50

In [280]:
--23

courses['programming']['Cpp'] = 25
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Photoshop': 25, 'Illustrator': 15}}

In [287]:
--24

#courses['design'].pop('Photoshop')
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25},
 'design': {'Illustrator': 15}}

In [290]:
--25

courses['programming'].update(JavaScript=50)
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 50},
 'design': {'Illustrator': 15}}

In [291]:
--26

courses['programming'].keys()

dict_keys(['python', 'java', 'Cpp', 'JavaScript'])

In [292]:
--27

courses['design'].items()

dict_items([('Illustrator', 15)])

In [295]:
--28

#courses.pop('design')
courses

{'programming': {'python': 50, 'java': 30, 'Cpp': 25, 'JavaScript': 50}}

In [299]:
--29

'programming' in courses

True

In [302]:
--30

courses.get('design', 'design key 없음')

'design key 없음'