# 파이썬의 자료형(data type)
## 파이썬의 자료형은 동적으로 변화
* int: 정수(소숫점이 없는 숫자)
* float: 실수(소숫점이 있는 숫자)
* str: 문자/문자열
* list: 여러개의 자료가 순서대로 저장된 자료형, 모든 자료형을 넣어 만들 수 있음
* tuple: list와 비슷하나 한 번 만들면 수정이 안됨, 모든 자료형을 넣을 수 있음
* dictionary(dict): key : value 쌍으로 이루어진 자료형, 모든 자료형을 넣을 수 있음

# 데이터 타입을 출력하는 함수 type(변수)

# 정수형 변수(int)

In [2]:
a = 10
print(a)

10

In [4]:
print(type(a))

<class 'int'>

In [6]:
aa = '10'
print(aa)

10

In [8]:
print(type(aa))

<class 'str'>

In [9]:
aa = 10
print(aa, type(aa))

10 <class 'int'>

# 실수형 변수 float

In [10]:
b = 3.14
print(b, type(b))

3.14 <class 'float'>

# 정수형 변수 +, -, *, /  실수형 변수
* 정수형 변수(int)와 실수형 변수(float)를 연산하면 모두 실수(float)

In [12]:
print(a + b)
print(a - b)
print(a * b)
print(a / b)

13.14
6.859999999999999
31.400000000000002
3.184713375796178

* 정수변수와 정수변수 연산하면 모두 정수, but 정수/정수 = 실수

In [14]:
print(a, aa)

10 10

In [15]:
print(a + aa)
print(a - aa)
print(a * aa)
print(a / aa)

20
0
100
1.0

# 문자형 str

In [17]:
c = '문'
d = '자'
e = '문자열'

In [18]:
print(c, type(c))
print(d, type(d))
print(e, type(e))

문 <class 'str'>
자 <class 'str'>
문자열 <class 'str'>

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \ 를 사용할 수 있다.

In [25]:
long_char = "화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \를 사용할 수 있다."

In [27]:
print(long_char)

화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \를 사용할 수 있다.

In [29]:
long_char2 = """따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \ 를 쓸 필요가 없다."""

In [30]:
print(long_char2)

따옴표 3개로 문자열을 묶으면 줄바꿈이 자동으로 된다.
그래서 \ 를 쓸 필요가 없다.

# 문자 덧셈 + , 문자 반복 *

In [33]:
c

'문'

In [34]:
d

'자'

In [35]:
c + d

'문자'

In [37]:
a + c # 숫자 + 문자는 안됨 x

TypeError: unsupported operand type(s) for +: 'int' and 'str'

문자변수1 + 문자변수2 = 문자가 합쳐짐

In [38]:
c + d

'문자'

문자나 문자열을 반복하고 싶을 때: 문자변수 * 숫자

In [40]:
(c + d) * 3

'문자문자문자'

In [45]:
print("===================================")
print("문자열의 덧셈과 뺄셈")
print("===================================")

===================================
문자열의 덧셈과 뺄셈
===================================

# 문자열은 순서가 있다.
# 가장 앞글자가 0번 0번부터 순서대로 숫자가 증가

In [46]:
long_char

'화면이 좁아서 문자열을 잘라서 아래로 내리고 싶으면 \\를 사용할 수 있다.'

길이를 재는 함수 len()

In [51]:
len(long_char)

41

* 인덱싱: 변수명[인덱스번호]
* 슬라이싱: 변수명[시작번호:끝번호+1]

# 리스트  list
* 리스트는 [정수, 실수, 문자, 리스트, 튜플 , 디셔너리 ] 모두 넣을 수있다.
* 리스트는 여러 자료가 같이 나열된 형태이므로 순서가 있다.
* 인덱싱, 슬라이싱 가능
* 자료의 추가, 삭제가 가능하다.

In [49]:
l1 = [1, 2.0, '삼', [1,2,3], (4,5,6), {"key":"value"}]
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [50]:
print(l1, type(11))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'int'>

list는 순서가 있는 자료형

In [54]:
l1[2:5]

['삼', [1, 2, 3], (4, 5, 6)]

In [56]:
l1.append("리스트 자료형")

In [57]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}, '리스트 자료형', '리스트 자료형']

In [59]:
del l1[6]

In [61]:
l1

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

# 리스트는 리스트 내의 자료형을 그대로 유지

In [63]:
for item in l1:
    print(item, type(item))

1 <class 'int'>
2.0 <class 'float'>
삼 <class 'str'>
[1, 2, 3] <class 'list'>
(4, 5, 6) <class 'tuple'>
{'key': 'value'} <class 'dict'>

## 중첩리스트
* 리스트 안에 리스트가 있는 경우

In [65]:
l2 = [1,2,3, [4,5, [6,7,8, [9,10]]]]
l2

[1, 2, 3, [4, 5, [6, 7, 8, [9, 10]]]]

* 인덱싱으로 9를 출력하세요

In [78]:
l2[3][2][3][0]

9

# Tuple 튜플 
* 여러가지 자료를 ()안에 넣어서 만드는 자료형
* 모든 data type을 자료로 받을 수 있다.
* 한 번 생성하면 수정이 되지 않는다.
* 튜플이 리스트 보다 코드 실행시 더 빠르다.

In [79]:
l3 = [1, 2.0, '삼', [1,2,3], (4,5,6), {"key":"value"}]
l3

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}]

In [81]:
print(l3, type(l3))

[1, 2.0, '삼', [1, 2, 3], (4, 5, 6), {'key': 'value'}] <class 'list'>

In [82]:
l3[-1]

{'key': 'value'}

In [83]:
l3[2:4]

['삼', [1, 2, 3]]

# 딕셔너리형(dict) JSON {"key" : "value"}
* key와 value로 이루어진 데이터형
* json 이라고 불리며 웹상에서 데이터를 주고 받을 때 주로 사용
* 딕셔너리의 value에는 모든 자료형이 올 수 있음
* 딕셔너리는 순서가 없는 자료형
* key를 호출하면 value가 출력됨

In [93]:
dic2 = {"이름" : "홍길동", "나이" : 33, "키" : 175.4, 
        "가족" : [{"둘리" : ["초능력", "공룡"]}, {"또치" : ["달리기", "타조"]}, 
                {"도우너" : ["음악", "외계인"]}]}

In [94]:
dic2['가족'][2]

{'도우너': ['음악', '외계인']}

In [86]:
dic1["이름"]

'홍길동'

딕셔너리의 길이는 key의 갯수

In [95]:
len(dic2) # 안쪽 딕셔너리는 안 셈

4

딕셔너리에 자료추가

In [97]:
dic2['학교'] = '구름대학교'

In [98]:
dic2

{'이름': '홍길동',
 '나이': 33,
 '키': 175.4,
 '가족': [{'둘리': ['초능력', '공룡']}, {'또치': ['달리기', '타조']}, {'도우너': ['음악', '외계인']}],
 '학교': '구름대학교'}

# 형변환 함수
* 형변환: data type 다른 data type으로 바꾸는 것

* 정수로 형변환 int()

* 실수로 변환 float()

In [3]:
print(b, type(b))

NameError: name 'b' is not defined

In [4]:
a + float(b)

NameError: name 'a' is not defined

In [6]:
# 3 + 3.0 = 6.0
a + float(b)

NameError: name 'a' is not defined

In [7]:
c = 4.0

In [8]:
a + c

NameError: name 'a' is not defined

In [9]:
int(a + c)

NameError: name 'a' is not defined

* 문자열로 변환 str()

In [11]:
print(a, type(a))

NameError: name 'a' is not defined

In [12]:
print(str(a), type(str(a)))

NameError: name 'a' is not defined

In [14]:
str(a) + b

NameError: name 'a' is not defined

* 리스트 형변환 list()
    * 튜플 => 리스트로 변환

In [22]:
t = (1,2,3,4,5)
print(t, type(t))

(1, 2, 3, 4, 5) <class 'tuple'>

In [23]:
l1 = list(t)
print(l1, type(l1))

[1, 2, 3, 4, 5] <class 'list'>

In [24]:
l1.append(6)
print(l1)

[1, 2, 3, 4, 5, 6]

* 튜플로 형변환 tuple()

In [25]:
t2 = tuple(l1)
print(t2, type(t2))

(1, 2, 3, 4, 5, 6) <class 'tuple'>

In [26]:
print(dic2.key(), type(dic.keys()))

NameError: name 'dic2' is not defined

# input() : 키보드 입력을 받는 함수
* input("화면에 표시될 메시지")
* 입력 받는 값은 " "으로 구분해서 여러개를 받을 수 있음
* 입력 받는 값은 모두 str 타입의 문자열

In [27]:
input_name = input("이름을 입력해주세요: ")
print(input_name)

이름을 입력해주세요: 양민정
양민정

input 함수를 이용해서 숫자 2개를 입력받아 더한 후 출력하세요.

In [31]:
num1 = input("숫자 1을 입력해주세요: ")
num2 = input("숫자 2를 입력해주세요: ")
print("num1: ", num1, type(num1))
print("num2: ", num2, type(num2))
print("num1 + num2: ", int(num1) + int(num2))

숫자 1을 입력해주세요: 3
숫자 2를 입력해주세요: 5
num1:  3 <class 'str'>
num2:  5 <class 'str'>
num1 + num2:  8

* input().split() 으로 여러 데이터를 list 형태로 받기

In [34]:
nums = input("숫자를 5개 공백으로 구분해서 입력하세요: ").split()
print(nums, type(nums))

숫자를 5개 공백으로 구분해서 입력하세요: 1 2 3 4 5
['1', '2', '3', '4', '5'] <class 'list'>

In [36]:
nums

['1', '2', '3', '4', '5']

In [38]:
int(nums[0]) + int(nums[1]) + int(nums[2]) + int(nums[3]) + int(nums[4])

15

In [39]:
"숫자를 5개 공백으로 구분해서 입력하세요: ".split()

['숫자를', '5개', '공백으로', '구분해서', '입력하세요:']