In [11]:
#1

print("Hello World")

Hello World

In [12]:
#2

print("Mary's cosmetics")

Mary's cosmetics

In [10]:
#3

print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [14]:
#4

print("C:\Windows")

C:\Windows

In [15]:
#5
#\n 줄바꿈을 의미
#\t 탭을 의미

print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [16]:
#6

print ("오늘은", "일요일")

오늘은 일요일

In [20]:
#7

print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [22]:
#8

print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [25]:
#9

print("first", end="");print("second")

firstsecond

In [26]:
#10

print(5/3)

1.6666666666666667

In [28]:
#11

삼성전자 = 50000

print("총 평가금액:", 삼성전자*10)

총 평가금액: 500000

In [31]:
#12

시가총액 = 298000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [40]:
#13

s = "hello"
t = "python"

print(s, "!", sep = '', end = " ") 
print(t)

hello! python

In [43]:
#14

2 + 2 * 3

8

In [44]:
#15

a = "132"
print (type(a))

<class 'str'>

In [48]:
#16

num_str = "720"
num_int = int(num_str)
type(num_int)

int

In [49]:
#17

num = 100
num_str = str(num)
type(num_str)

str

In [55]:
#18

sos = "15.79"
sos_float = float(sos)
type(sos_float)

float

In [58]:
#19

year = "2020"
year_int = int(year)

print(year_int-3) #2017
print(year_int-2) #2018
print(year_int-1) #2019

2017
2018
2019

In [62]:
#20

월구독료 = 48584
대여기간 = 36

print("총 금액: ", 월구독료 * 대여기간)

총 금액:  1749024