# 함수 만들기
* print(), split(), join() => 함수
* 함수의 괄호 안에 값을 넣으면 출력, 입력, 변환을 해줌
* 어떤 기능을 하는 도구
* function => 기능
* 자주 사용하는 기능을 미리 만들어서 반복 재사용 할 수 있게 만든 것

In [1]:
# 리스트의 자료에 10을 곱해서 다시 리스트로 출력하세요

result = []
l1 = [1,2,3,4,5]
for num in l1:
    result.append(num*10)
result

[10, 20, 30, 40, 50]

In [2]:
result2 = []
l2 = list(range(1, 30))
for num in l2:
    result2.append(num*10)
result2

[10,
 20,
 30,
 40,
 50,
 60,
 70,
 80,
 90,
 100,
 110,
 120,
 130,
 140,
 150,
 160,
 170,
 180,
 190,
 200,
 210,
 220,
 230,
 240,
 250,
 260,
 270,
 280,
 290]

* 10을 곱하는 작업이 반복되므로 함수 처리

In [3]:
def mul10(num_list):
    result = []
    for num in num_list:
        result.append(num*10)
    return result

# 함수 만드는 법
```python
def 함수이름(변수명1, 면수명2...):
    실행코드1
    실행코드2
    return 반환할 값(결과)
```

# 함수 호출 순서
* 함수는 호출하기 전에 반드시 먼저 정의되어 있어야 하고(만들어 놓아야 함)
* 함수 정의가 함수 실행보다 위에 있어야 한다.

In [4]:
def hello():
    print("Hello python 함수 만들기")

# 함수의 매개변수
* 함수의 ()안에 받는 값을 저장하는 변수
* ()안에 값을 받아서 함수 내에서 처리할 때 사용
* **매개변수는 함수 바깥에서는 사용할 수 없음**
* 매개 변수의 개수는 제한이 없음
* 매개 변수가 여러개면, 자료도 변수의 수만큼 넣어야 함

In [5]:
# 문자열은 시퀀스객체이므로 가능
mul10("안녕하세요")

['안안안안안안안안안안', '녕녕녕녕녕녕녕녕녕녕', '하하하하하하하하하하', '세세세세세세세세세세', '요요요요요요요요요요']

In [6]:
# 숫자는 안됨
mul1(1)

NameError: name 'mul1' is not defined

# 인수의 종류(함수에 집어넣는 자료)
* 위치 인수(positional argument)
* 키워드 인수(keyword argument)
* 가변 위치 인수(*args)
* 가변 키워드 인수(\**kwargs)

## 1) 위치인수 (positional argument)
* 위치(순사)가 고정된 인수
* 순서가 바뀌면 다른 변수에 자료가 들어감
* 개수가 맞지 않으면 에러 발생

In [7]:
def person(num, name, age):
    print(f"num: {num}, name: {name}, age: {age}")
    return (num, name, age)

In [8]:
person(1, "홍길돈", 33)

num: 1, name: 홍길돈, age: 33

(1, '홍길돈', 33)

In [9]:
person("홍길돈", 33, 1)

num: 홍길돈, name: 33, age: 1

('홍길돈', 33, 1)

## 2) 키워드 인수 (keyword argument)
* 매개변수 이름을 명시해서 값을 넣는 방식
* 순서를 바궈도 이름이 같으면 올바르게 들어감

In [15]:
print(1,2,3, end=" ", sep=":")
print(1,2,3, sep=":", end=" ")

1:2:3 1:2:3

In [11]:
person(num = 1, name = "홍길동", age = 33)

num: 1, name: 홍길동, age: 33

(1, '홍길동', 33)

In [12]:
person(num = 1, age = 33, name = "홍길동")

num: 1, name: 홍길동, age: 33

(1, '홍길동', 33)

## 3) 가변 위치 인수 *args(variable-length arguments)
* 위치 인수를 여러 개 받을 때 사용
* 개수 제한이 없음
* 가변 위치 인수로 받은 값은 함수 내에서 tuple이 됨
* print()
* 함수의 매개변수 앞에 *을 붙이면 가변 위치 인수를 받을 수 있는 매개변수가 됨

In [16]:
print(1,2,3,4,5,6,7,7,8,8,"문자", [2,3,4])

1 2 3 4 5 6 7 7 8 8 문자 [2, 3, 4]

In [19]:
def sum_all(*args):
    print("args", args, type(args))
    total = 0
    for num in args:
        total += num
    return total

In [20]:
sum_all(1,2,3,4,5,6,7,8,9,10)

args (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

55

* 가변 위치인수 + 위치인수

In [22]:
# args 로 받은 숫자를 다 더한 후 num1으로 받은 숫자를 곱하는 함수
def sum_all3(*args, num1):
    print("args", args, type(args))
    print("nums")
    total = 0
    for num in args:
        total += num
    return total * num1

In [23]:
# tuple로 들어옴
sum_all3(1,2,3,4,5,num1=2)

args (1, 2, 3, 4, 5) <class 'tuple'>
nums

30

In [24]:
print(sep=". ", 1,2,4)

SyntaxError: positional argument follows keyword argument (2115666156.py, line 1)

## 4) 가변 키워드 인수 **kwargs (variable-length keyworld arguments)
* 키워드 인수를 여러 개 받을 때 사용함
* 개수 제한이 없음
* 가변 키워드 인수로 넣은 값은 함수 내에서 dict로 들어옴
* 변수명 = 값, dict(key=value)

In [25]:
def show_kwargs(**kwargs):
    print("kwargs", kwargs, type(kwargs))
    for key, value in kwargs.items():
        print(f"key: {key}, value: {value}")

In [26]:
show_kwargs(name="철수", age=20, city="서울")

kwargs {'name': '철수', 'age': 20, 'city': '서울'} <class 'dict'>
key: name, value: 철수
key: age, value: 20
key: city, value: 서울

In [29]:
def show_kwargs(num, **kwargs):
    print("kwargs:", kwargs, type(kwargs))
    for key, value in kwargs.items():
        print(f"num: {num}, key: {key}, value: {value}")

In [30]:
show_kwargs(1, name="철수", age=20, city="서울")

kwargs: {'name': '철수', 'age': 20, 'city': '서울'} <class 'dict'>
num: 1, key: name, value: 철수
num: 1, key: age, value: 20
num: 1, key: city, value: 서울

In [31]:
show_kwargs(num=1, name="철수", age=20, city="서울")

kwargs: {'name': '철수', 'age': 20, 'city': '서울'} <class 'dict'>
num: 1, key: name, value: 철수
num: 1, key: age, value: 20
num: 1, key: city, value: 서울

## 5) 매개변수에 기본값 지정하기
* 함수 내에서 사용할 매개변수에는 기본값을 지정하라 수 있다.
* 값을 넣지 않더라도 사전에 입력한 기본 값으로 작동
* 키워드 인수 형태로 매개변수의 기본값을 변경하면 변경된 값으로 작동
* print("sep=" ", end="\n")

# 함수 정의시 매개변수 순서
* 1) 위치(일반) 매개변수
* 2) 기본값이 있는 매개변수
* 3) 가변 위치인수 \*args
* 4) 가변 키워드 인수 \**kwargs

In [43]:
def demo(num, name, p_num1="02", *args, **kwargs):
    print(args[:4])
    print(f"{num}번 {name}의 전화번호는 {p_num1}-{args[0]}-{args[1]}입니다.\n {kwargs}")

In [44]:
demo(1, "홍길동", "02", 1234, 5678, mobile = "모름")

(1234, 5678)
1번 홍길동의 전화번호는 02-1234-5678입니다.
 {'mobile': '모름'}

In [45]:
def demo(num, name, *args, p_num1="02", **kwargs):
    print(args[:4])
    print(f"{num}번 {name}의 전화번호는 {p_num1}-{args[0]}-{args[1]}입니다.\n {kwargs}")

In [46]:
demo(1, "홍길동", 1234, 5678, "02", mobile = "모름")

(1234, 5678, '02')
1번 홍길동의 전화번호는 02-1234-5678입니다.
 {'mobile': '모름'}

# 함수의 반환값 return
* 함수 안에서 계산되거나 처리한 결과를 함수 밖으로 되돌려 주는 역할 return
* return은 없어도 문제 없음

In [47]:
def show_sum(num1, num2):
    print(num1+num2)

In [48]:
show_sum(3,5)

8

In [49]:
hap = show_sum(3,5) + 10
print(hap)

8

TypeError: unsupported operand type(s) for +: 'NoneType' and 'int'

In [50]:
result = show_sum(3,5)
print(result)

8
None

In [51]:
def show_sum(num1, num2):
    print(num1+num2)
    return num1+num2

In [54]:
def show_sum(num1, num2):
    print(f"함수 내부의 print문 결과: {num1+num2}")
    hap = num1+num2
    return hap

In [55]:
result = show_sum(3,5)
print(f"함수 내부의 result 변수의 결과 값: {result}")

함수 내부의 print문 결과: 8
함수 내부의 result 변수의 결과 값: 8

# break 역할을 하는 return
* 함수 내부에서 return은 break의 역할도 함
* 반복 내에서 return이 되면 반복문이 정지되고 결과값을 반환하면서 함수 동작이 끝나게 됨

In [61]:
def sum50(num_list):
    hap = 0
    for num in num_list:
        if num > 50:
            break
        hap += num
    return hap

In [63]:
sum(range(1,101))

5050

In [62]:
sum50(range(1,101))

1275

* 1에서 100까지 숫자중에 3의 배수만 더해서 출력하세요. 단 50보다 크면 멈추세요

In [73]:
def sum3ns(num_list):
    hap = 0
    for num in num_list:
        if num % 3 == 0 and num <= 50:
            hap += num
            print(hap)
    return hap

In [75]:
sum3ns(range(1,101))

3
9
18
30
45
63
84
108
135
165
198
234
273
315
360
408

408

# 함수 dostring 함수 사용하기
* docstring은 함수의 기능, 사용법을 함수 내부에 문서로 남기는 문자열
``` 
def 함수명(매개

In [76]:
못적음

NameError: name '못적음' is not defined