In [66]:
#1

print("Hello World")

Hello World

In [67]:
#2

print("Mary's cosmetics")

Mary's cosmetics

In [68]:
#3

print('신씨가 소리질렀다. "도둑이야"')

신씨가 소리질렀다. "도둑이야"

In [69]:
#4

print("C:\Windows")

C:\Windows

In [70]:
#5
#\n 줄바꿈을 의미
#\t 탭을 의미

print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [71]:
#6

print ("오늘은", "일요일")

오늘은 일요일

In [72]:
#7

print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [73]:
#8

print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [74]:
#9

print("first", end="");print("second")

firstsecond

In [75]:
#10

print(5/3)

1.6666666666666667

In [76]:
#11

삼성전자 = 50000

print("총 평가금액:", 삼성전자*10)

총 평가금액: 500000

In [77]:
#12

시가총액 = 298000000000
현재가 = 50000
PER = 15.79

print(시가총액, type(시가총액))
print(현재가, type(현재가))
print(PER, type(PER))

298000000000 <class 'int'>
50000 <class 'int'>
15.79 <class 'float'>

In [78]:
#13

s = "hello"
t = "python"

print(s, "!", sep = '', end = " ") 
print(t)

hello! python

In [79]:
#14

2 + 2 * 3

8

In [80]:
#15

a = "132"
print (type(a))

<class 'str'>

In [81]:
#16

num_str = "720"
num_int = int(num_str)
type(num_int)

int

In [82]:
#17

num = 100
num_str = str(num)
type(num_str)

str

In [83]:
#18

sos = "15.79"
sos_float = float(sos)
type(sos_float)

float

In [84]:
#19

year = "2020"
year_int = int(year)

print(year_int-3) #2017
print(year_int-2) #2018
print(year_int-1) #2019

2017
2018
2019

In [85]:
#20

월구독료 = 48584
대여기간 = 36

print("총 금액: ", 월구독료 * 대여기간)

총 금액:  1749024

In [86]:
#21

letter = 'python'
print(letter[0],letter[2])

p t

In [87]:
#22

license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [88]:
#23

string = "홀짝홀짝홀짝"
print(string[0],[2],[4])

홀 [2] [4]

In [89]:
#24

string = "PYTHON"
print(string[::-1])b

SyntaxError: invalid syntax (2912723501.py, line 4)

In [90]:
#25

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", " ")
print(phone_number1)

010 1111 2222

In [91]:
#26

phone_number = "010-1111-2222"
phone_number1 = phone_number.replace("-", "")
print(phone_number1)

01011112222

In [92]:
#27

# url = "http://sharebook.kr"
# url_split = url.split('.')
# print(url_split[-1])

url = "http://sharebook.kr"
print(url[-2:])

kr

In [93]:
#28

# 문자열은 수정할 수 없습니다.

In [94]:
#29

string = 'abcdfe2a354a32a'
string1 = string.replace("a","A")
print(string1)

Abcdfe2A354A32A

In [95]:
#33

하이픈 = "-"
print(하이픈*80)

--------------------------------------------------------------------------------

In [96]:
#34

t1 = 'python'
t2 = 'java'

print((t1+ " " + t2 + " ")*4)

python java python java python java python java

In [97]:
#35

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: %s 나이: % d" % (name1, age1))
print("이름: %s 나이: % d" % (name2, age2))

이름: 김민수 나이:  10
이름: 이철희 나이:  13

In [98]:
#36

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13

print("이름: {} 나이: {}".format(name1, age1))
print("이름: {} 나이: {}".format(name2, age2))

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [99]:
#37

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print(f"이름: {name1} 나이: {age1}")
print(f"이름: {name2} 나이: {age2}")

이름: 김민수 나이: 10
이름: 이철희 나이: 13

In [100]:
#38

상장주식수 = "5,969,782,550"
상장주식수1 = int(상장주식수.replace(",",""))
print(상장주식수1, type(상장주식수1))

5969782550 <class 'int'>

In [101]:
#39

분기 = "2020/03(E) (IFRS연결)"
print(분기[0:7])

2020/03

In [102]:
#40

data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [103]:
#41

ticker = "btc_krw"
ticker1 = ticker.upper()
print(ticker1)

BTC_KRW

In [104]:
#42

ticker = "BTC_KRW"
ticker1 = ticker.lower()
print(ticker1)

btc_krw

In [105]:
#43

a = "hello"
a = a.capitalize()
print(a)

Hello

In [106]:
#44

file_name = "보고서.xlsx"
file_name.endswith("xlsx")

True

In [107]:
#45

file_name = "보고서.xlsx"
file_name.endswith("xlsx" or "xls")

True

In [108]:
#46

file_name = "2020_보고서.xlsx"
file_name.startswith("2020")

True

In [109]:
#47

a = "hello world"
a1 = a.split(" ")
print(a1)

['hello', 'world']

In [110]:
#48

ticker = "btc_krw"
ticker.split("_")

['btc', 'krw']

In [111]:
#49

date = "2020-05-01"
date.split("-")

['2020', '05', '01']

In [112]:
#50

data = "039490     "
data1 = data.rstrip()
print(data1)

039490

In [113]:
#51

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank

['닥터 스트레인지', '스플릿', '럭키']

In [115]:
#52

movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
movie_rank.append("베트맨")
movie_rank

['닥터 스트레인지', '스플릿', '럭키', '베트맨']

In [116]:
#53

movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1,"슈퍼맨")
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [117]:
#54

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.pop(3)
movie_rank

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [123]:
#55

movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2]
del movie_rank[2]
movie_rank

['닥터 스트레인지', '슈퍼맨']

In [128]:
#56

lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]

lang_total = lang1 + lang2
lang_total

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [130]:
#57

nums = [1, 2, 3, 4, 5, 6, 7]

print("max: ", max(nums))
print("min: ", min(nums))

max:  7
min:  1

In [131]:
#58

nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [132]:
#59

cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "소시지", "라면", "팥빙수", "김치전"]
len(cook)

12

In [134]:
#60

nums = [1, 2, 3, 4, 5]
average = sum(nums) / len(nums)
average

3.0

In [135]:
#61

price = ['20180728', 100, 130, 140, 150, 160, 170]
price[1:]

[100, 130, 140, 150, 160, 170]

In [136]:
#62

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[::2]

[1, 3, 5, 7, 9]

In [139]:
#63

nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums[1::2]

[2, 4, 6, 8, 10]

In [140]:
#64

nums = [1, 2, 3, 4, 5]
nums[::-1]

[5, 4, 3, 2, 1]

In [141]:
#65

interest = ['삼성전자', 'LG전자', 'Naver']
interest[0],interest[2]

('삼성전자', 'Naver')

In [143]:
#66

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print(" ".join(interest))

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [144]:
#67

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [147]:
#68

interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [148]:
#69

string = "삼성전자/LG전자/Naver"
interest = string.split("/")
interest

['삼성전자', 'LG전자', 'Naver']

In [151]:
#70

data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
data

[1, 2, 3, 4, 5, 9, 10]

In [152]:
#71

my_variable = ()

In [153]:
#72

movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
movie_rank

('닥터 스트레인지', '스플릿', '럭키')

In [155]:
#73
튜플 = (1, )

In [158]:
#75

t = 1, 2, 3, 4
type(t)

tuple

In [159]:
#76

t = ('a', 'b', 'c')
t = ('A', 'b', 'c')

In [163]:
#77

interest = ('삼성전자', 'LG전자', 'SK Hynix')
list(interest)

['삼성전자', 'LG전자', 'SK Hynix']

In [164]:
#78

interest = ['삼성전자', 'LG전자', 'SK Hynix']
tuple(interest)

('삼성전자', 'LG전자', 'SK Hynix')

In [165]:
#80

data = tuple(range(2, 100, 2))
print( data )

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)

In [166]:
#81

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
*valid_score, _, _= scores
print(valid_score)

[8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5]

In [167]:
#82

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, b, *valid_score = scores
print(valid_score)

[8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]

In [168]:
#83

scores = [8.8, 8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8, 9.4]
a, *valid_score, b = scores
print(valid_score)

[8.9, 8.7, 9.2, 9.3, 9.7, 9.9, 9.5, 7.8]

In [169]:
#84

temp = { }

In [170]:
#85

ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800}

In [171]:
#86

ice = {"메로나": 1000, "폴라포": 1200, "빵빠레": 1800}
ice["죠스바"] = 1200
ice["월드콘"] = 1500
print(ice)

{'메로나': 1000, '폴라포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [172]:
#87

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}

print("메로나 가격: ", ice['메로나'])

메로나 가격:  1000

In [173]:
#88

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
ice['메로나'] = 1300
ice

{'메로나': 1300, '폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [174]:
#89

ice = {'메로나': 1000,
       '폴로포': 1200,
       '빵빠레': 1800,
       '죠스바': 1200,
       '월드콘': 1500}
del ice['메로나']
ice

{'폴로포': 1200, '빵빠레': 1800, '죠스바': 1200, '월드콘': 1500}

In [177]:
#91

inventory = {'메로나': [300, 20],
             '비비빅': [400,3],
             '죠스바': [250,100]}
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100]}

In [178]:
#92

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
print(inventory['메로나'][0],"원")

300 원

In [179]:
#93

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}

print(inventory['메로나'][1],"개")

20 개

In [181]:
#94

inventory = {"메로나": [300, 20],
              "비비빅": [400, 3],
              "죠스바": [250, 100]}
inventory["월드콘"] = [500,7]
inventory

{'메로나': [300, 20], '비비빅': [400, 3], '죠스바': [250, 100], '월드콘': [500, 7]}

In [184]:
#95

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.keys())
ice

['탱크보이', '폴라포', '빵빠레', '월드콘', '메로나']

In [185]:
#96

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
ice

[1200, 1200, 1800, 1500, 1000]

In [186]:
#97

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
ice = list(icecream.values())
sum(ice)

6700

In [187]:
#98

icecream = {'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000}
new_product = {'팥빙수':2700, '아맛나':1000}
icecream.update(new_product)
print(icecream)

{'탱크보이': 1200, '폴라포': 1200, '빵빠레': 1800, '월드콘': 1500, '메로나': 1000, '팥빙수': 2700, '아맛나': 1000}

In [188]:
#99

keys = ("apple", "pear", "peach")
vals = (300, 250, 400)
result = dict(zip(keys, vals))
print(result)

{'apple': 300, 'pear': 250, 'peach': 400}

In [189]:
#100

date = ['09/05', '09/06', '09/07', '09/08', '09/09']
close_price = [10500, 10300, 10100, 10800, 11000]
close_table = dict(zip(date, close_price))
print(close_table)

{'09/05': 10500, '09/06': 10300, '09/07': 10100, '09/08': 10800, '09/09': 11000}